body {
    font-family: verdana, sans-serif;
    padding: 50px;
    max-width: 700px;
    margin: auto;
}

.name {
    font-size: x-large;
    font-weight: bold;
}

a {
    color: #323bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
    font-size: large;
    padding: 10px;
}

nav {
    max-width: 700px;
    white-space: nowrap;
    text-align: right;
}

.socialIcon,
a {
    text-align: right;
    max-width: 700px;
    white-space: nowrap;
}

.project {
    text-align: left;
    display: flex;
    padding-right: 20px;
    padding-top: 10%;
}

img {
    width: 200px;
    height: fit-content

}